@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
    @apply font-bold
}
.big-heading {
    @apply font-extrabold text-2xl
}

.bg-secondary {
    background-color: #363517;
}
.bg-primary {
    background-color: #FFFC52;
}
.text-primary {
    color: #FFFC52;
}
.my-text {
    @apply text-white text-xl font-bold
}
.my-ul {
    @apply list-disc px-14 text-left
}
.my-ul li {
    @apply mb-4
}
